body{
    font-family: fantasy;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(131, 131, 131);
}
.slider-container{
    width: 80%;
    max-width: 1000px;
    position: relative;
    border: 2px solid #000000;
    border-radius: 10px;
    overflow: hidden;
}
.slider-track{
    display: flex;
    transition: transform 0.4s ease-in-out;
}
.slider-item{
    min-width: 100%;
    box-sizing: border-box;
}
.slider-item img{
    width: 100%;
    border-radius: 8px;
}
.slider-controls{
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.control{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}
.control:hover{
    background-color: rgba(0, 0, 0, 0.8);
}
